#title{
    background-color: #434242;
    color: #fff;
  }
  
  .st{
  
    width: 100%
  
  }
  h1
  {
    font-family: 'Montserrat-Black';
  
    font-size: 4rem;
    line-height: 1.5;
  }
  .navbar-brand
  {
    padding-left: 20px;
  }
  .container-fluid{
    padding: 0px 0px;
  }
  
  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .navbar{
    padding:0 0 0rem;
  }
  
  .nav-item{
    padding: 0 18px;
  }
  
  .nav-link
  {
    font-size: 1.2rem;
    font-family: "Montserrat";
  }

  .search-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

